<?xml version="1.0"?>
<config>
    <modules>
        <Cooder_EasySped>
            <version>3.0.3.1</version>
        </Cooder_EasySped>
    </modules>
     <admin>
        <routers>
            <easysped>
                <use>admin</use>
                <args>
                    <module>Cooder_EasySped</module>
                    <frontName>easysped</frontName>
                </args>
            </easysped>
        </routers>
    </admin>
    <global>
    	<blocks>
    		 <easysped>
    		 	<class>Cooder_EasySped_Block</class>
    		 </easysped>
	         <adminhtml>
	            <rewrite>
	                <sales_shipment>Cooder_EasySped_Block_Adminhtml_Sales_Shipment</sales_shipment>
	            </rewrite>
	            <rewrite>
	                <sales_order_view>Cooder_EasySped_Block_Adminhtml_Sales_Order_View</sales_order_view>
	            </rewrite>
            	<!--<rewrite>
                	<sales_order_grid>Cooder_EasySped_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
          </rewrite>-->
	        </adminhtml>
	    </blocks>
       <models>
         	<easysped>
                <class>Cooder_EasySped_Model</class>
                <resourceModel>easysped_mysql4</resourceModel>
            </easysped>
            <easysped_mysql4>
                <class>Cooder_EasySped_Model_Mysql4</class>
                <entities>
                    <filedownload>
                        <table>easysped_filedownload</table>
                    </filedownload>
                </entities>
            </easysped_mysql4>
       </models>
       <helpers>
			<easysped>
				<class>Cooder_EasySped_Helper</class>
			</easysped>
		</helpers>
		<resources>
            <easysped_setup>
                <setup>
                    <module>Cooder_EasySped</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easysped_setup>
            <easysped_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easysped_write>
            <easysped_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easysped_read>
        </resources>
          <events>
          	<sales_order_shipment_save_before>
                <observers>
                    <easysped>
                        <type>singleton</type>
                        <class>Cooder_EasySped_Model_Observer</class>
                        <method>salesOrderShipmentSaveBefore</method>
                    </easysped>
                </observers>
            </sales_order_shipment_save_before>
          	<sales_order_shipment_save_after>
          		<observers>
	                <easysped>
	                    <type>singleton</type>
	                    <class>easysped/observer</class>
	                    <method>writeShipping</method>
	                </easysped>
	            </observers>
          	</sales_order_shipment_save_after>
          	<sales_order_invoice_save_after>
          		<observers>
	                <easysped>
	                    <type>singleton</type>
	                    <class>easysped/observer</class>
	                    <method>writeShippingFromInvoice</method>
	                </easysped>
	            </observers>
          	</sales_order_invoice_save_after>
   		</events>
    </global>
     <admin>
        <routers>
            <easysped>
                <use>admin</use>
                <args>
                    <module>Cooder_EasySped</module>
                    <frontName>easysped</frontName>
                </args>
            </easysped>
        </routers>
    </admin>
      <adminhtml>
      		<events>
		        <core_block_abstract_prepare_layout_before>
		            <observers>
		                <easysped>
		                	<type>singleton</type>
		                    <class>easysped/observer</class>
		                    <method>addMassAction</method>
		                </easysped>
		            </observers>
		        </core_block_abstract_prepare_layout_before>
		    </events>
	      	<translate>
				<modules>
					<easysped>
						<files>
							<default>Cooder_Easysped.csv</default>
						</files>
					</easysped>
				</modules>
			</translate>
            <acl>
                <resources>
                    <admin>
                        <children>
                            <system>
                                <children>
                                    <config>
                                        <children>
                                            <cooder>
                                                <title>EasySped Bridge</title>
                                            </cooder>
                                        </children>
                                    </config>
                                </children>
                            </system>
                        </children>
                    </admin>
                </resources>
            </acl>
       </adminhtml>
    <default>
        <cooder>
            <easysped>
                <active>1</active>
                <model>easysped/observer</model>
                <title>EasySped Bridge</title>
            </easysped>
         </cooder>
    </default>
    <crontab>
	        <jobs>
	            <cooder_easysped>
	                <schedule>
	                    <cron_expr>0 * * * *</cron_expr>
	                </schedule>
	                <run>
	                    <model>easysped/mail::sendReport</model>
	                </run>
	            </cooder_easysped>
	        </jobs>
	    </crontab>
</config>